.card {
  width: 323px;
  height: 326px;
  background-color: #e9e9e9;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.card__info {
  position: absolute;
  top: 26px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__name {
  min-height: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.card__title {
  margin: 0 12px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk", "Arial", "Halvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card__like-btn {
  width: 20px;
  height: 17.5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/Card/button_inactive.svg");
  cursor: pointer;
  transition: 0.3s;
}

.card__like-btn_active {
  width: 20px;
  height: 17.5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../images/Card/button_active.svg");
  cursor: pointer;
  transition: 0.3s;
}

.card__like-btn:hover,
.card__like-btn_active:hover {
  opacity: 0.6;
}

.card__like_hidden {
  display: none;
}
