.confirmation {
  position: relative;
  padding: 60px 0;
  max-width: 670px;
  width: 100%;
  max-height: 280px;
  background-color: white;
  position: relative;
  border-radius: 20px;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.confirmation__close-button {
  width: 20px;
  height: 20px;
  z-index: 5;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  transition: 0.3s;
  background-image: url("../images/ItemModal/close-modal.svg");
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.confirmation__close-button:hover {
  opacity: 0.6;
}

.confirmation__title {
  margin: 0 0 40px;
  max-width: 367px;
  text-align: center;
}

.confirmation__accept-button,
.confirmation__deny-button {
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.confirmation__accept-button {
  margin: 0 0 24px;
  color: #ff4d00;
}

.confirmation__accept-button:hover,
.confirmation__deny-button:hover {
  opacity: 0.6;
}
