.form__field {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__input {
  border: none;
  width: 440px;
  height: 24px;
  border-bottom: 1px solid black;
  transition: 0.3s;
}

.form__input:focus {
  outline: none;
  border-bottom-color: #007dff;
}

.form__input-title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 440px;
  transition: 0.3s;
}

.form__radio-list {
  display: flex;
  align-items: center;
  margin: 0;
  gap: 11px;
}

.form__radio {
  width: 16px;
  height: 16px;
  margin: 0;
}

.form__radio-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__radio-element {
  display: flex;
  gap: 8px;
  align-items: center;
  opacity: 0.5;
  position: relative;
}

.form__radio-text {
  margin: 0;
}

.form__radio-label {
  width: 16px;
  height: 16px;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__radio-label .form__radio:checked {
  opacity: 1;
}

.form__radio-label .form__checkmark {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  opacity: 0;
  transition: 0.3s;
}

.form__radio {
  opacity: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  cursor: pointer;
}

.form__radio:checked + .form__checkmark {
  opacity: 1;
}

.form__radio:checked {
  visibility: hidden;
}

.form__button {
  background-color: black;
  color: white;
  border: none;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.6s;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.form__error-message {
  color: #ff0000;
  margin: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.form__error-message_active {
  opacity: 1;
}

.form__input-error_active {
  border-bottom-color: #ff0000;
}

.form__button_inactive {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.3);
}

.form__button_inactive:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
