.header {
  margin: 0 0 28px;
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__left-side,
.header__right-side {
  margin: 0;
  display: flex;
  align-items: center;
}

.header__left-side {
  gap: 24px;
}

.header__right-side {
  gap: 20px;
}

.header__info,
.header__user {
  margin: 0;
}

.header__info-link {
  margin: 0;
}

.header__profile-link {
  margin: 0;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  margin: 0;
  height: 40px;
  width: 89px;
}

.header__avatar {
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.header__image-placeholder {
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__image-placeholder-text {
  margin: 0;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}

.header__button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  transition: 0.3s;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.6;
}

.header_hidden {
  display: none;
}
