.item-modal {
  background-color: white;
  padding: 0;
  position: relative;
  border-radius: 20px;
  width: 498px;
  height: 610px;
  overflow: hidden;
  cursor: default;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.item-modal__image {
  width: 100%;
  height: 82%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e9e9e9;
}

.item-modal__info {
  margin: 20px 32px 0 0;
  display: flex;
  justify-content: space-between;
}

.item-modal__close-button {
  width: 20px;
  height: 20px;
  z-index: 5;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  transition: 0.3s;
  background-image: url("../images/ItemModal/close-modal.svg");
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.item-modal__close-button:hover {
  opacity: 0.6;
}

.item-modal__title {
  margin: 0 auto 12px 32px;
}

.item-modal__weather {
  margin: 0 auto 0 32px;
}

.item-modal__remove-button {
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  line-height: 24px;
  color: #ff4d00;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s;
}

.item-modal__remove-button:hover {
  opacity: 0.6;
}

.item-modal__remove-button_visible {
  display: block;
}

.item-modal__remove-button_hidden {
  display: none;
}
