.modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 0;
  transition: 0.6s;
  cursor: pointer;
  z-index: 5;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  border-radius: 20px;
  padding: 28px 28px 36px;
  position: relative;
  cursor: default;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__title {
  margin: 0 0 24px;
}

.modal__radio-title {
  margin: 0 0 12px;
}

.modal__close-button {
  fill: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  z-index: 5;
  position: absolute;
  top: 20px;
  right: 28px;
  cursor: pointer;
  transition: 0.3s;
  background-image: url("../images/ModalWithForm/__close-button.svg");
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal-login-button {
  width: 73px;
  height: 36px;
}

.modal__button-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal__login-button-container {
  margin-top: 8px;
}

.modal__login-register-button {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.modal__login-register-button:hover {
  color: rgba(0, 0, 0, 0.3);
}

.modal-add-button {
  width: 124px;
  height: 36px;
}
